<!DOCTYPE html>

<html lang="ru">
<head>
    <title>{% block title_block %}{% endblock %}</title>
    <meta charset="UTF-8">
    <!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    <script type="text/javascript" src="http://ajax.microsoft.com/ajax/jquery/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="Scripts/jquery-1.4.2.min.js"></script>
    <meta name="viewport" content="width=device-width">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/css/base.css">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@600&Raleway:wght@300;400;800&&family=Ubuntu:wght@600&display=swap" rel="stylesheet">
{% block links %}{% endblock %}

</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href='/sign_in'>MyLibby</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
            {% if current_user.role_id == 1 %}
                <a href='/library/my_books' class="nav-link">Мои книги</a>
            {% elif current_user.role_id == 2 %}
                <a href='/library/students' class="nav-link">Ученики</a>
            {% endif %}

        </li>
        <li class="nav-item">
            <a href='/library/editions' class="nav-link">Книги</a>
        </li>
        <li class="nav-item">
            {% if current_user.role_id == 2 %}
                <a href='/library/profile' class="nav-link" >Настройка библиотеки</a>
            {% else %}
                <a href='/library/profile' class="nav-link">Настройка профиля</a>
            {% endif %}

        </li>

      </ul>

            <div class="nav-item navbar-nav">
                <a href="/logout" class="nav-link btn_out">Выход</a>
            </div>

</div>
  </div>
</nav>

 {% block contents %}{% endblock %}


</body>
{#<script>#}
{#    let hr = document.location.href.split('#');#}
{#    if (hr.length === 2)#}
{#        document.location.href = hr[0];#}
{##}
{#    function copyToClipboard(element) {#}
{#        var $temp = $("<input>");#}
{#        $("body").append($temp);#}
{#        $temp.val($(element).text()).select();#}
{#        document.execCommand("copy");#}
{#        $temp.remove();#}
{#    }#}
{##}
{#    $(function() {#}
{#    var height = $( '#normal' ).height(); //получаем высоту одного элемента#}
{#    $( '#fixed' ).height(height); //записываем высоту другому элементу#}
{#        function setHeiHeight() {#}
{#    $('#fixed').css({#}
{#        height: $(window).height() + 'px'#}
{#    });#}
{#}#}
{#setHeiHeight(); // устанавливаем высоту окна при первой загрузке страницы#}
{#$(window).resize( setHeiHeight ); // обновляем при изменении размеров окна#}
{#});#}
{#</script>#}
{#<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> -->#}
</html>